
<html>
<head>
    <title>SIGN_UP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6c8257ebd6.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class=navbar-header>
                <a class=navbar-brand href="/">Basketball=LIFE <i class="fas fa-baseball-ball"></i></a>
            </div>
     
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li class="nav-item ">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">SIGNUP</a>
                    </li>
               <% } else{ %>
                <li class="nav-item">
                    <a  class="nav-link"href="/logout">LOGOUT</a>
                </li> 
                
               <% } %>
            </ul>
        </div>
            
    
    </nav>
    <br>
    <br>
   <span style="text-align: center;"><h1>
    <i class="fas fa-user-circle" ></i> <br>
    Welcome to the Sign-Up page
</h1>
</span> 
    <div class="container">
        <div style="width:30%;margin:50px auto">

<form action="/signup" method="POST">
 <div class="form-group">
<input class="form-control"type="text" name="username" placeholder="username" required>
</div>
<div class="form-group">
    <input class="form-control"type="password" name="password" placeholder="password" required>
</div>
<div class="form-group" style="text-align: center;">
    <button class= "btn btn-primary ">
        submit
    </button>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
