

#particles-js{
    background: linear-gradient(#3ec8ca,#fdbb2d);
    height:100vh;
    z-index: 0;
    position: absolute;
    width: 100%;
  height: 52%;
  margin: 0;
  padding: 0;
  
}
.jumbotron{
position: relative;
z-index: 1;
opacity: 0.6;
margin: 0;
padding: 0;
}
.row{
  
    padding-top: 60px;
}
#border {
  border: 2px solid black;
}
.bb{
  color: rgb(199, 128, 47);
}
.navbar-light .navbar-toggler-icon {
  background-image: linear-gradient(#3ec8ca,#fdbb2d),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);

}
